@import './base/fonts';
@import './base/texts';
@import './base/mixins';
@import './base/buttons';
@import './base/screen';


html{
  font: $font-size 'Montserrat';
  color: $text-primary;

@media screen and (min-width: 320px) {
  font-size: calc(#{$font-size} + 6 * ((100vw - 320px) / 680));
}
}

body{
margin: 0;
}

.bold-text{
font-family: "Montserrat-Bold";
}

.green-text{
@include set-color($green-color);
}

.white-text{
@include set-color($white-color);
}

.blue-text{
@include set-color($blue-color);
}

.weight-bold{
font-weight: 700;
}

.container{
background-image: url('/assets/Backgrounds/Bg_Header@3x.png');
background-size: cover;
padding-top: 160px;
background-repeat: no-repeat;
background-position: 100% 100%;
margin-bottom: 50px;
}

.form-area{
background: rgba(0,0,0,0.8);
border-radius: 25px;
padding: 1rem;
max-width: 85%;
margin: 0 auto;
}

.row{
display: flex;
flex-direction: row;
flex-wrap: wrap;
width:100%;
grid-column-gap: 35px;
color: $white-color;
overflow-y: auto;
border-radius: 10px;
}

.column{
display: flex;
flex-direction: column;
flex-basis: 100%;
flex:1;
}

.column input,select{
padding:0.5rem;
margin-bottom: 1rem;
border-radius: 10px;
}

.btn:not([disabled]):hover{
background-color: $blue-color;
color: $white-color;
}

.color-a{
color: $blue-color;
}

small{
color: #FF5733;
}

.text-center{
text-align:center;
}

.logo {
  background: url('/assets/logo_full_color.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 7rem;
  height: 30px;
  flex:1;
}
