@import '../../../styles/global.scss';

*{
    font-size: 14px;
}

@include screen(600px){
  .row{
    flex-direction: column;
  }

  .title{
    font-size:22px;
  }
}

.displayError{
  margin-bottom: 10px;
}

