
<div class="container">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form-area">
        <h1 class="title">Formulario Registro</h1>
        <div class="row">
            <div class="column">
                <label for="">Nombres *</label>
                <input type="text" formControlName="names" id="names" maxlength="30">
                <div *ngIf="f.names.invalid && (f.names.dirty || f.names.touched)" class="text-danger ">
                  <div *ngIf="f.names.errors?.required" class="displayError">
                    <small>* El campo nombre es obligatorio</small>
                  </div>
                </div>
            </div>

            <div class="column">
                <label for="">Apellidos *</label>
                <input type="text" formControlName="surnames" maxlength="30">
                <div *ngIf="f.surnames.invalid && (f.surnames.dirty || f.surnames.touched)" class="text-danger ">
                  <div *ngIf="f.surnames.errors?.required">
                    <small>* El campo Apellidos es obligatorio</small>
                  </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <label for="pais">País *</label>
                <select class="custom-select" (change)="changeCity($event)" formControlName="country">
                  <option value=""></option>
                  <option *ngFor="let country of countries" [value]="country.id">{{country.country}}</option>
               </select>
                <div *ngIf="f.country.invalid && (f.country.dirty || f.country.touched)" class="text-danger ">
                  <div *ngIf="f.country.errors?.required">
                    <small>* El campo Pais es obligatorio</small>
                  </div>
                </div>
            </div>
            <div class="column">
                <label for="departamento">Ciudad *</label>
                <select class="custom-select" formControlName="city">
                  <option value=""></option>
                  <option *ngFor="let city of cities" [value]="city.id">{{city.province}}</option>
               </select>
                <div *ngIf="f.city.invalid && (f.city.dirty || f.city.touched) && f.city.value !== null" class="text-danger ">
                  <div *ngIf="f.city.errors?.required">
                    <small>* El campo Departamento es obligatorio</small>
                  </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <label for="">Email *</label>
                <input type="email" formControlName="email">
                <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)" class="text-danger ">
                  <div *ngIf="f.email.errors?.required">
                    <small>* El campo Email es obligatorio</small>
                  </div>
                  <div *ngIf="f.email.errors?.pattern">
                    <small>* Debe ingresar un correo valido</small>
                  </div>
                </div>
            </div>
            <div class="column">
                <label for="">Telefono *</label>
                <input type="number" formControlName="phone" minlength="1" maxlength="10">
                <div *ngIf="f.phone.invalid && (f.phone.dirty || f.phone.touched)" class="text-danger ">
                  <div *ngIf="f.phone.errors?.required">
                    <small>* El campo Telefono es obligatorio</small>
                  </div>
                  <div *ngIf="f.phone.errors?.maxLength">
                    <small>* El campo acepta solo 10 caracteres</small>
                  </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="column">
                <label for="">Contraseña *</label>
                <input type="password" formControlName="password">
                <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)" class="text-danger ">
                  <div *ngIf="f.password.errors?.required">
                    <small>* El campo Contraseña es obligatorio</small>
                  </div>
                  <div *ngIf="f.password.errors?.minlength">
                    <small>* El campo Contraseña debe tener al menos 6 caracteres</small>
                  </div>
                </div>
            </div>
            <div class="column">
                <label for="">Repetir Contraseña *</label>
                <input type="password" formControlName="passwordValidate">
                <div *ngIf="f.passwordValidate.invalid && (f.passwordValidate.dirty || f.passwordValidate.touched)" class="text-danger ">
                  <div *ngIf="f.passwordValidate.errors?.required">
                    <small>* El campo Repetir Contraseña es obligatorio</small>
                  </div>
                  <div *ngIf="f.passwordValidate.errors?.confirmedValidator">
                    <small>* Los campos deben coincidir</small>
                  </div>
                </div>
            </div>
        </div>

        <div class="row">
            <label className="inline">
                <input name="terms" type="checkbox" formControlName="terms"/>
                  Acepto los
                  <a href="/terms" target="_blank" class="color-a">
                    Terminos y Condiciones *
                  </a>
            </label>
        </div>
        <br>
        <div class="row">
            <button type="submit" class="btn" [disabled]="!registerForm.valid" >Registrarme</button>
        </div>
    </form>
</div>
