
<section id="home">
    <div class="text-hero font-weight">
        <div>
            {{ 'homeSection.title' | translate }} <br>
            <span class="weight-bold">{{ 'homeSection.subtitle' | translate }}</span> {{ 'homeSection.in' | translate }}<br>
            <span class="bold-text green-text">{{ 'homeSection.company' | translate }}</span><br>
            <button (click)="languageChange()">{{ typeButton}}</button>
        </div>
    </div>
    <div class="img-hero">
        <img src='/assets/Img Hero/Ic_ilustra_Hero@3x.png' class="img-style" />
    </div>
</section>
