<section id="twitter-section">
    <div class="men-computer">
        <div class="content-men">
            <div class="text-content">
                <span class="bold-text green-text">350&nbsp;+&nbsp;</span>
                <span class="bold-text blue-text">Woloxers</span>
            </div>
            <br>
            <div class="white-text content-twitter">
                <div class="logo-twitter"></div>
                <span>@Wolox</span>
            </div>
            <div class="content-twitter">
                <button type="submit" class="btn" [routerLink]="['/register']">Siguenos</button>
            </div>
      </div>
    </div>

    <div class="text-twitter">
      <div class="size-text">
        Trabajamos para<br>
        <span class="bold-text blue-text">convertir </span>
        <span class="bold-text green-text">ideas</span> en <br>
        productos.
      </div>
    </div>
  </section>
