<section id="twitter-section">
    <div class="men-computer">
        <div class="content-men">
            <div class="text-content">
                <span class="bold-text green-text">350&nbsp;+&nbsp;</span>
                <span class="bold-text blue-text">Woloxers</span>
            </div>
            <br>
            <div class="white-text content-twitter">
                <div class="logo-twitter"></div>
                <span>@Wolox</span>
            </div>
            <div class="content-twitter">
                <button type="submit" class="btn" onclick="window.open('https://twitter.com/Wolox','_blank')">{{ 'twitterSection.follow' | translate }}</button>
            </div>
      </div>
    </div>

    <div class="text-twitter">
      <div class="size-text">
        {{ 'twitterSection.phraseOne' | translate }}<br>
        <span class="bold-text blue-text">{{ 'twitterSection.convert' | translate }} </span>
        <span class="bold-text green-text">{{ 'twitterSection.ideas' | translate }}</span> {{ 'twitterSection.in' | translate }} <br>
        {{ 'twitterSection.phraseThree' | translate }}
      </div>
    </div>
  </section>
