
@font-face {
    font-family: 'Montserrat';
    src: url('../../assets/Fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../../assets/Fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
	font-style: normal;
}
@font-face {
    font-family: 'MontserratSemiBold';
    src: url('../../assets/Fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: bold;
	font-style: normal;
}

